@model LillysCatering.Models.Dish

@{
    ViewData["Title"] = "Delete";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-0">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Dish" asp-action="Index">Dishes</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link fw-bold" asp-controller="Dish" asp-action="Delete" aria-current="page">Delete dish</a></li>
    </ol>
</nav>

<h1 class="display-5 text-center mb-4 fw-bold">Delete dish</h1>

<div class="container">
    <div class="row mx-auto col-md-6 col-lg-4 p-1">
        <div>
            <h2 class="details--title mb-1">@Html.DisplayNameFor(model => model.Title)</h2>
            <p>@Html.DisplayFor(model => model.Title)</p>
        </div>
        <hr class="divider mb-2" />
        <div>
            <h2 class="details--title mb-1">@Html.DisplayNameFor(model => model.Ingredients)</h2>
            <p>@Html.DisplayFor(model => model.Ingredients)</p>
        </div>
        <hr class="divider mb-2" />
        <div>
            <h2 class="details--title mb-1">@Html.DisplayNameFor(model => model.Title)</h2>
            <p>@Html.DisplayFor(model => model.Title)</p>
        </div>
        <hr class="divider mb-2" />

        <form asp-action="Delete" class="mt-2">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>


