@model LillysCatering.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-5 text-center mt-3 mb-4">Menu details</h1>

<div class="container">
    <div class="row mx-auto col-md-5">
        <div>
            <h2 class="details--title mb-0">@Html.DisplayNameFor(model => model.Title)</h2>
            <p>@Html.DisplayFor(model => model.Title)</p>
        </div>

        <div>
            <h2 class="details--title mb-0">@Html.DisplayNameFor(model => model.Price)</h2>
            <p>@Html.DisplayFor(model => model.Price)</p>
        </div>

        <div>
            <h2 class="details--title mb-0">@Html.DisplayNameFor(model => model.MinGuestAmount)</h2>
            <p>@Html.DisplayFor(model => model.MinGuestAmount)</p>
        </div>

        <div>
            <a class="crud--link" asp-action="Index">Back to the menu table</a>
        </div>
    </div>
</div>