@model LillysCatering.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-0">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Menu" asp-action="Index">Menus</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link fw-bold" asp-controller="Menu" asp-action="Details" aria-current="page">Menu details</a></li>
    </ol>
</nav>


<h1 class="display-5 text-center mb-4 fw-bold">Menu details</h1>

<div class="container">
    <div class="row mx-auto col-md-6 col-lg-4 p-1">
        <div>
            <h2 class="details--title mb-1">@Html.DisplayNameFor(model => model.Title)</h2>
            <p>@Html.DisplayFor(model => model.Title)</p>
        </div>
        <hr class="divider mb-2" />
        <div>
            <h2 class="details--title mb-1">@Html.DisplayNameFor(model => model.Price)</h2>
            <p>@Html.DisplayFor(model => model.Price)</p>
        </div>
        <hr class="divider mb-2" />
        <div>
            <h2 class="details--title mb-1">@Html.DisplayNameFor(model => model.MinGuestAmount)</h2>
            <p>@Html.DisplayFor(model => model.MinGuestAmount)</p>
        </div>
        <hr class="divider mb-2" />
    </div>
</div>