@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<LillysCatering.Models.Menu>

@{
    ViewData["Title"] = "Menus";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-0">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link fw-bold" asp-controller="Menu" asp-action="Index" aria-current="page">Menus</a></li>
    </ol>
</nav>


<h1 class="display-5 text-center mb-4 fw-bold">Menus</h1>

@if (SignInManager.IsSignedIn(User))
{
    <div class="mb-3">
        <a asp-action="Create" class="bg-dark text-light fw-bold create p-2">Add new menu</a>
    </div>
}

<div class="table-responsive">
    <table class="table border-dark table-hover">
        <thead class="bg-dark text-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinGuestAmount)
                </th>
                @if (SignInManager.IsSignedIn(User))
                {
                    <th>Manage</th>
                }
                else
                {
                    <th>Details</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinGuestAmount)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="crud--link">Edit</a>
                            <span>|</span>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="crud--link">Details</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="crud--link">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>